// SPDX-License-Identifier: GPL-2.0
/*
 * finch board's base device tree configure.
 *
 * Copyright (C) 2025 SPACEMIT Micro Limited
 */

#include "k3.dtsi"
#include "k3-pinctrl.dtsi"
#include <dt-bindings/usb/pd.h>

/ {
	model = "spacemit k3 com260 tq board";
};

&cpus {
	timebase-frequency = <24000000>;
};

&pinctrl {
	gmac1_grp {
		power-source = <1800>;
	};

	qspi_grp {
		power-source = <1800>;
	};

	qspi_cs0_grp {
		power-source = <1800>;
	};
};

&uart0 {
	status = "okay";
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c0_0>;
	status = "okay";

	tcpc@25 {
		compatible = "fcs,fusb301";
		reg = <0x25>;

		connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			power-role = "dual";
			data-role = "dual";
			try-power-role = "sink";
			source-pdos = <PDO_FIXED(5000, 2500, PDO_FIXED_USB_COMM)>;
			sink-pdos = <PDO_FIXED(5000, 1400, PDO_FIXED_USB_COMM)>;
			op-sink-microwatt = <15000000>;
			self-powered;

			port {
				fusb301_sw_ep: endpoint {
					remote-endpoint = <&typec_orient_sw>;
				};
			};
		};
	};
};

&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2_1>;
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		status = "okay";
	};
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3_1>;

	raspits-panel@45 {
		compatible = "raspberrypi,7inch-touchscreen-panel";
		reg = <0x45>;
		status = "okay";

		port {
			panel_in_dsi1: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
};

&sdhci0 {
	pinctrl-names = "default","uhs";
	pinctrl-0 = <&pinctrl_mmc1>;
	pinctrl-1 = <&pinctrl_mmc1_uhs>;
	bus-width = <4>;
	cd-gpios = <&gpio 04 0>;
	//vmmc-supply = <&dcdc_9>;
	vqmmc-supply = <&ldo_1>;
	clock-frequency = <204800000>;
	spacemit,tx_delaycode = <0x1f>;
	sdh-phy-module = <0>;
	status = "okay";
};

&usb3_porta_u2phy {
	status = "okay";
};

&usb3_porta_u3phy {
	status = "okay";
	orientation-switch;
	port {
		typec_orient_sw: endpoint {
			remote-endpoint = <&fusb301_sw_ep>;
		};
	};
};

&usb3_porta {
	status = "okay";
	dwc3@cad00000 {
		dr_mode = "peripheral";
	};
};

&usb3_portb_u2phy {
	status = "okay";
};

&usb3_portb_u3phy {
	status = "okay";
};

&usb3_portb {
	status = "okay";
};

&ufs {
	status = "okay";
};

&eth1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gmac1>;

	phy-reset-pin = <37>;
	max-speed = <1000>;
	clk_tuning_enable;
	clk-tuning-by-delayline;

	tx-phase = <47>;
	rx-phase = <53>;

	phy-mode = "rgmii";
	phy-handle = <&rgmii1>;

	status = "okay";

	mdio {
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		rgmii1: phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			device_type = "ethernet-phy";
			reg = <0x1>;
		};
	};
};

&qspi {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_qspi &pinctrl_qspi_cs0>;

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <26500000>;
		m25p,fast-read;
		broken-flash-reset;
		status = "okay";
	};
};

&pinctrl {
	pinctrl-single,gpio-range = <
		&range GPIO_04  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_DS4)
		&range GPIO_53  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_DS4)
	>;

	pcie0_1_grp {
		pinctrl-single,pins = <
			K3_PADCONF(GPIO_79, MUX_MODE5, (EDGE_NONE | PULL_UP | PAD_DS15)) /* PCIeA_perstn */
			K3_PADCONF(GPIO_80, MUX_MODE5, (EDGE_NONE | PULL_UP | PAD_DS15)) /* PCIeA_waken */
			K3_PADCONF(GPIO_81, MUX_MODE5, (EDGE_NONE | PULL_UP | PAD_DS15)) /* PCIeA_clkreqn */
		>;
	};

	pcie3_0_grp {
		pinctrl-single,pins = <
			K3_PADCONF(GPIO_03, MUX_MODE4, (EDGE_NONE | PULL_UP | PAD_DS15)) /* PCIeD_perstn */
			K3_PADCONF(GPIO_05, MUX_MODE4, (EDGE_NONE | PULL_UP | PAD_DS15)) /* PCIeD_clkreqn */
		>;
	};

	pcie4_1_grp {
		pinctrl-single,pins = <
			K3_PADCONF(GPIO_76, MUX_MODE5, (EDGE_NONE | PULL_UP | PAD_DS15)) /* PCIeE_perstn */
			K3_PADCONF(GPIO_78, MUX_MODE5, (EDGE_NONE | PULL_UP | PAD_DS15)) /* PCIeE_clkreqn */
		>;
	};
};

&gpio {
	gpio-ranges = <
		&pinctrl 04 GPIO_04 1
		&pinctrl 53 GPIO_53 1
	>;
};

&pcie_phy0 {
	status = "okay";
};

&pcie_phy1 {
	status = "okay";
};

&pcie_phy4 {
	status = "okay";
};

&pcie_phy5 {
	status = "okay";
};

&pcie0_rc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie0_1>;

	num-lanes = <4>;
	phys = <&pcie_phy0>, <&pcie_phy1>;
	phy-names = "pcie-phy0", "pcie-phy1";

	status = "okay";
};

&pcie3_rc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie3_0>;

	phys = <&pcie_phy4>;
	phy-names = "pcie-phy0";

	status = "okay";
};

&pcie4_rc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie4_1>;

	phys = <&pcie_phy5>;
	phy-names = "pcie-phy0";

	status = "disabled";
};

&i2c6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c6_0>;
	status = "okay";

	ctf2301: ctf2301@4c {
		compatible = "sensylink,ctf2301";
		reg = <0x4c>;
		#cooling-cells = <2>;
	};
};

&i2c8 {
	clock-frequency = <100000>;
	u-boot,dm-spl;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c8>;
	status = "okay";

	spm8821: pmic@41 {
		compatible = "spacemit,spm8821";
		reg = <0x41>;
		bus = <8>;
		u-boot,dm-spl;

		regulators {
			/* buck */
			dcdc_1: DCDC_REG1 {
				regulator-name = "dcdc1";
				regulator-min-microvolt = <1050000>;
				regulator-max-microvolt = <1050000>;
				regulator-always-on;
				regulator-boot-on;
				u-boot,dm-spl;
				regulator-state-mem {
					regulator-suspend-microvolt = <1050000>;
				};
			};

			dcdc_2: DCDC_REG2 {
				regulator-name = "dcdc2";
				regulator-min-microvolt = <1050000>;
				regulator-max-microvolt = <1050000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <1050000>;
				};
			};

			dcdc_3: DCDC_REG3 {
				regulator-name = "dcdc3";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <800000>;
				regulator-always-on;
				regulator-boot-on;
				u-boot,dm-spl;
				regulator-state-mem {
					regulator-suspend-microvolt = <800000>;
				};
			};

			dcdc_4: DCDC_REG4 {
				regulator-name = "dcdc4";
				regulator-min-microvolt = <2100000>;
				regulator-max-microvolt = <2100000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <2100000>;
				};
			};

			dcdc_5: DCDC_REG5 {
				regulator-name = "dcdc5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <1800000>;
				};
			};

			dcdc_6: DCDC_REG6 {
				regulator-name = "dcdc6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <600000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <500000>;
				};
			};

			/* aldo */
			ldo_1: LDO_REG1 {
				regulator-name = "ldo1";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
				u-boot,dm-spl;
				regulator-state-mem {
					regulator-suspend-microvolt = <1800000>;
				};
			};

			ldo_2: LDO_REG2 {
				regulator-name = "ldo2";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <1800000>;
				};
			};

			ldo_3: LDO_REG3 {
				regulator-name = "ldo3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-state-mem {
					regulator-suspend-microvolt = <3300000>;
				};
			};

			ldo_4: LDO_REG4 {
				regulator-name = "ldo4";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <3300000>;
				};
			};

			/* dldo */
			ldo_5: LDO_REG5 {
				regulator-name = "ldo5";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <1200000>;
				};
			};

			ldo_6: LDO_REG6 {
				regulator-name = "ldo6";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <900000>;
				};
			};

			ldo_7: LDO_REG7 {
				regulator-name = "ldo7";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <800000>;
				};
			};

			ldo_8: LDO_REG8 {
				regulator-name = "ldo8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <1800000>;
				};
			};

			ldo_9: LDO_REG9 {
				regulator-name = "ldo9";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <1800000>;
				};
			};

			ldo_10: LDO_REG10 {
				regulator-name = "ldo10";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <1800000>;
				};
			};

			ldo_11: LDO_REG11 {
				regulator-name = "ldo11";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-suspend-microvolt = <1800000>;
				};
			};

			sw_2: SWITCH_REG1 {
				regulator-name = "switch1";
			};

			power_event: SWITCH_REG2 {
				regulator-name = "pwr-event";
			};

			power_int: SWITCH_REG3 {
				regulator-name = "pwr-int";
			};

			rtc_ctrl: SWITCH_REG4 {
				regulator-name = "rtc-ctrl";
			};

			rtc_event: SWITCH_REG5 {
				regulator-name = "rtc-event";
			};

			rtc_irq: SWITCH_REG6 {
				regulator-name = "rtc-irq";
			};

			power_down: SWITCH_REG7 {
				regulator-name = "power-down";
			};

			reboot_flag: SWITCH_REG8 {
				regulator-name = "reboot-flag";
			};

			wdt_pm8821: PMIC_WDT {
				wdt-name = "wdt_pm8821";
			};
		};
	};

	mpq8655: mpq8655@30 {
		compatible = "spacemit,mpq8655";
		reg = <0x30>;
		bus = <8>;
		u-boot,dm-spl;

		regulators {
			edcdc_1: EDCDC_REG1 {
				regulator-name = "edcdc1";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <1000000>;
				regulator-init-microvolt = <880000>;
				regulator-always-on;
				regulator-boot-on;
				u-boot,dm-spl;
			};
		};
	};
};

&dpu {
	status = "okay";

	dpu_out: port {
		#address-cells = <1>;
		#size-cells = <0>;

		dpu_out_dp1: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&dp1_in_dpu>;
		};
	};

};

&mipi_dsi {
	bit-clk = <700000000>;
	pix-clk = <24000000>;
	status = "okay";

	ports {
		mipi_in: port {
			#address-cells = <1>;
			#size-cells = <0>;
			dsi_out: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&panel_in_dsi1>;
			};
		};
	};
};

&panel {
	force-attached = "lcd_tc358762xbg_dpi_800x480";
	status = "okay";
};

&dp1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_dp1_3>;
	status = "okay";

	ports {
		dp1_in: port {
			#address-cells = <1>;
			#size-cells = <0>;
			dp1_in_dpu: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&dpu_out_dp1>;
			};
		};
	};
};

&efuse {
	status = "okay";
};
