#!/usr/bin/make -f

export ARCH=riscv

# Only set CROSS_COMPILE when cross-compiling
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
ifneq ($(DEB_HOST_ARCH),$(DEB_BUILD_ARCH))
export CROSS_COMPILE=riscv64-unknown-linux-gnu-
endif

# 检查是否在 Git 仓库中，并获取 commit ID
GIT_INSIDE := $(shell git rev-parse --is-inside-work-tree 2>/dev/null)
ifeq ($(GIT_INSIDE),true)
	COMMIT_ID := $(shell git rev-parse --short HEAD)
endif

%:
	dh $@

override_dh_auto_build:
	make k3_defconfig
	make -j$(nproc)
	cp -f u-boot-env-default.bin env.bin

override_dh_gencontrol:
	echo "misc:CommitId=${COMMIT_ID}" >> debian/u-boot-spacemit.substvars
	dh_gencontrol

override_dh_auto_test-indep:
