# SPDX-License-Identifier: GPL-2.0

config TYPEC_TCPM
	tristate "USB Type-C Port Controller Manager"
	depends on DM
	help
	  The Type-C Port Controller Manager provides a USB PD and USB Type-C
	  state machine for use with Type-C Port Controllers.

config TYPEC_FUSB301
	tristate "Fairchild FUSB301 Type-C chip driver"
	depends on DM && DM_I2C && TYPEC_TCPM
	help
	  The Fairchild FUSB301 Type-C chip driver that works with
	  Type-C Port Controller Manager to provide USB Type-C functionalities.

config TYPEC_SWITCH
	tristate "USB Type-C Port Switch"
	depends on DM
	help
	  The Type-C Port Switch provides a USB Type-C Switch Ops
	  for orientation.

config TYPEC_SWITCH_GPIO_SBU
	tristate "Generic GPIO based SBU Switch for USB Type-C applications"
	depends on DM && TYPEC_SWITCH
	help
	  The GPIO based switch for managing the connected state and
	  the swapping of the SBU lines in a Type-C port.
